# Ejercicio - KMedias

** Vamos a usar el Movies dataset**

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer
from category_encoders import BinaryEncoder

pelis = pd.read_csv("data/movies.csv")
pelis = pelis[pelis.genero.notnull()]
genero_peliculas = pelis.genero.values
n_generos = len(pelis.genero.unique())

pelis = pelis.drop("genero", axis=1)
pelis = BinaryEncoder().fit_transform(pelis).fillna(0)

pelis.head()

,lenguaje_0,lenguaje_1,lenguaje_2,lenguaje_3,lenguaje_4,productores_0,productores_1,productores_2,productores_3,productores_4,...,titulo_7,titulo_8,titulo_9,titulo_10,presupuesto,popularidad,ventas,duracion,puntuacion,n_votos
0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.0,8.387519,76578911.0,106.0,5.7,173.0
1,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,1,0.0,0.894647,676525.0,106.0,6.7,13.0
2,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,0,3500000.0,14.569650,28215918.0,91.0,7.0,513.0
3,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,1,0.0,8.963037,32.0,87.0,6.0,124.0
4,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,12000000.0,9.592265,41205099.0,92.0,6.5,767.0

In [2]:
n_generos

17

### Hacer un estimador KMedias con número de clusters igual al número de géneros. Entrenar con el dataset pelis y calcular el cluster asignado a cada película

In [2]:
from sklearn.cluster import KMeans

In [3]:
kmedias = KMeans(n_clusters=n_generos)

clusters = kmedias.fit_predict(pelis)

### Calcular el coeficiente de silueta

In [4]:
from sklearn.metrics import silhouette_score

silhouette_score(pelis, clusters)

0.5608500073873798

### Calcular el Indice de Rand ajustado (`adjusted_rand_score`)

In [5]:
from sklearn.metrics import adjusted_rand_score

In [6]:
adjusted_rand_score(genero_peliculas, clusters)

-0.005391226245627967