### Cargamos los datos

In [1]:
import pandas as pd
import numpy as np

pelis = pd.read_csv("data/movies.csv").drop(columns=["titulo"])
variable_objetivo = "ventas"

# hay peliculas sin la variable ventas
pelis = pelis[pelis[variable_objetivo].notnull()]

variables_independientes = pelis.drop(variable_objetivo, axis=1).columns


pelis.head()

,presupuesto,genero,lenguaje,popularidad,productores,pais,ventas,duracion,puntuacion,n_votos
0,NaN,Comedy,en,8.387519,Sandollar Productions,United States of America,76578911.0,106.0,5.7,173.0
1,NaN,Drama,en,0.894647,Miramax,South Africa,676525.0,106.0,6.7,13.0
2,3500000.0,Comedy,en,14.569650,New Line Cinema,United States of America,28215918.0,91.0,7.0,513.0
3,NaN,Comedy,en,8.963037,Paramount Pictures,United States of America,32.0,87.0,6.0,124.0
4,12000000.0,Comedy,en,9.592265,Universal Pictures,United States of America,41205099.0,92.0,6.5,767.0

In [2]:
pelis.shape

(1203, 10)

Vamos a hacer codificacion one hot de las variables categóricas usando el OneHotEncoder de category_encoders:

In [3]:
from category_encoders import OneHotEncoder

pelis = OneHotEncoder().fit_transform(pelis)
pelis.head()

,genero_0,genero_1,genero_2,genero_3,genero_4,genero_5,genero_6,genero_7,genero_8,genero_9,...,pais_30,pais_31,pais_32,pais_-1,presupuesto,popularidad,ventas,duracion,puntuacion,n_votos
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,8.387519,76578911.0,106.0,5.7,173.0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,0.894647,676525.0,106.0,6.7,13.0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3500000.0,14.569650,28215918.0,91.0,7.0,513.0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,8.963037,32.0,87.0,6.0,124.0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,12000000.0,9.592265,41205099.0,92.0,6.5,767.0

In [4]:
from sklearn.preprocessing import Imputer

X = Imputer(strategy="mean").fit_transform(pelis.drop(variable_objetivo, axis=1))
y = pelis[variable_objetivo]

In [5]:
X

array([[   1. ,    0. ,    0. , ...,  106. ,    5.7,  173. ],
       [   0. ,    1. ,    0. , ...,  106. ,    6.7,   13. ],
       [   1. ,    0. ,    0. , ...,   91. ,    7. ,  513. ],
       ...,
       [   1. ,    0. ,    0. , ...,   97. ,    5.2,  272. ],
       [   1. ,    0. ,    0. , ...,   90. ,    7.4,  106. ],
       [   0. ,    1. ,    0. , ...,  139. ,    6.9,   48. ]])

In [6]:
X.shape

(1203, 644)

In [8]:
y[:10]

0     76578911.0
1       676525.0
2     28215918.0
3           32.0
4     41205099.0
5       209935.0
6    185260553.0
7    355237933.0
8      1275000.0
9      3174695.0
Name: ventas, dtype: float64

### Crear un modelo Arbol de Decision de profundidad máxima 5, entrenar y obtener imagen del arbol usando webgraphviz

###  Cuales son las las variables más importantes para el modelo?